<div class="menu_item">
    <div class="menu_item_details">
        <%= menu_item.dish %>: $ <%= menu_item.price %>
    </div>
    <div class="menu_item_delete">
        <%= link_to "/restaurants/#{menu_item.restaurant_id}/menu_items/#{menu_item.id}", method: :delete, data: {confirm: "Are you sure you want to delete this item?"} do %>
            <span class="delete_menu_button">
                <%=image_tag('rubbish-bin.svg', class: "svg") %>
            </span>
        <% end %>




    </div>
</div>
